<div class="panel-body">
    <div class="panel-heading">
    </div>

    <div class="example-container">
        <span class="alert">
            {{showMsg}}
        </span>

        <form [formGroup]="customForm" (ngSubmit)="onSubmit()">
            <mat-card class="example-card">
                <mat-card-title>
                    <a><i class="fa fa-user fa-2x"> What's on your mind?</i></a>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-12" *ngFor="let data of formData">
                                <label for="{{data.for}}">{{data.label}}</label>
                                <input *ngIf="data.control=='input'" type="{{data.type}}" class="form-control"
                                    id="{{data.id}}" placeholder="{{data.placeholder}}"
                                    formControlName="{{data.control_name}}">

                                <div *ngIf="data.control=='button'">
                                    <button onclick="on()" type="submit">Submit</button>
                                    <button mat-button><a [routerLink]="['/add']">Go to your Timeline</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-title>
            </mat-card>
            <!-- {{customForm.value | json}} -->
        </form>
    </div>

</div>


<!-- <mat-card-title>
    <div class="box-header with-border">
        <app-list #child></app-list>
    </div>
</mat-card-title> -->